$patreonPrimary: rgb(255, 66, 77);

#patreonMarquee .patreon-container.rfm-marquee-container {
    overflow-y: hidden;

    .patron-container {
        margin-left: 3em;
    }
}

#patreonVerticalList .patron-container {
    margin-right: 1em;
}

#patreonMarquee .patreon-container-background,
#patreonVerticalList .patreon-container-background,
#patreonOneAtATime .patreon-container-background {
    background-color: rgb(0, 0, 0);
    opacity: 0.3;
}

#patreonMarquee .patreon-container-background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
}

#patreonMarquee .patreon-container.rfm-marquee-container,
#patreonOneAtATime {
    height: unset;
    max-height: 50px;

    img {
        height: 50px;
    }
}

#patreonMarquee .patreon-container.rfm-marquee-container,
#patreonVerticalList,
#patreonOneAtATime {
    .patron-container {
        display: flex;
        min-width: 200px;
        max-width: 400px;

        img {
            max-height: 50px;
            margin-right: 5px;
        }

        h3,
        h4,
        h5,
        h6 {
            color: white;
            margin: auto 0.25em;
            // padding-bottom: 2.5px;
            white-space: nowrap;
            font-weight: 500;
        }
    }
}

.patreon-btn,
#main button.patreon-btn,
#main .button.patreon-btn {
    background-color: $patreonPrimary;
    box-shadow: unset;
    border-radius: 9999px;
    box-sizing: border-box;
    cursor: pointer;
    font-weight: 500;
    height: unset;
    position: relative;
    pointer-events: unset;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
    color: rgb(255, 255, 255) !important;
    font-size: 1rem !important;

    &:hover {
        background-color: $patreonPrimary;
    }

    .background.background.background {
        overflow: visible;
    }

    svg:not(:root) {
        overflow: hidden;
    }

    .background {
        margin-left: auto;
        margin-right: auto;
        animation: 1.116s linear 0s infinite normal none running cJiLXh;
        display: block;
        padding: 1.5px;
        height: 1.5rem;
        width: 1.5rem;
    }

    .text {
        -webkit-box-align: center;
        align-items: center;
        display: flex;
        -webkit-box-pack: center;
        justify-content: center;
        visibility: visible;
    }
}