*::-webkit-scrollbar {
    width: 10px;
    background-color: _palette(bg2);

    @media screen and (max-width: 800px) {
        width: 5px;
    }
}

*::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: _palette(bg2);
}

*::-webkit-scrollbar-thumb {
    background-color: _palette(bg1);
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%,
            transparent 25%,
            transparent 50%,
            rgba(255, 255, 255, .2) 50%,
            rgba(255, 255, 255, .2) 75%,
            transparent 75%,
            transparent)
}

.no-scrollbar::-webkit-scrollbar,
.no-scrollbar *::-webkit-scrollbar,
.no-scrollbar::-webkit-scrollbar-track,
.no-scrollbar *::-webkit-scrollbar-track,
.no-scrollbar::-webkit-scrollbar-thumb,
.no-scrollbar *::-webkit-scrollbar-thumb {
    display: none;
}